@font-face {
    font-family: "Parisienne";
    src: url(Parisienne-Regular.ttf);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    height: 100vh;
    width: 100vw;    
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black ;
}

#primeiro {            
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    align-items: center;  
    width: auto;    
    color: white;   
    }


#background-header {
    /* opacity: 0.8; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
  }  

  /* h1 {
    position: absolute;
    color: rgb(179, 85, 22);
    text-shadow: 1px 1px 2px black;
    left:0;
    bottom: 0;
    font-size: 60px;
    padding: 60px;
  } */

.navegador {    
    position: absolute;
    /* border: 6px dashed red; */
    right: 0;
    top: 0;        
    
}

.nav-bar-item{
    /* border: 5px green dashed; */
    padding: 10px;
    font-size: 20px;
    overflow: hidden;     
    letter-spacing: 2px;
    display: inline-block;
    margin: 0 0.5rem;    
        
}

nav, li, ul, a {
    text-decoration: none;
    list-style-type: none;
    font-family:"Parisienne";
    font-style: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

ul {
    display: inline-block;
    /* border: 7px yellow dashed; */
    padding: 30px;
    margin-right: 50px;
    width: 100%;
    font-style: white;
}


li {    
    /* border: 7px blue solid; */
    padding: 30px;
    margin-right: 50px; 
    font-style: white;
              
}


.nav-bar-item a:hover{
    font-weight: bolder;    
    color: white;  
}

.nav-bar-item a:active{
    font-weight: bolder;
    color: white;
}

.nav-bar-item a:visited{
  font-weight: bolder;  
  color: white;  
}


.casa_nav_bar{
    position: absolute;
    color: white;
    display: inline-block;
    top: 0;
    left: 0;
    font-size: 30px;
    padding: 20px;
    border-radius: 50%;
    border: white solid 0.5px;
    font-family:"Parisienne";
    margin-top: 20px;
    margin-left: 30px;
    text-shadow: 2px 2px 2px black;
}


.container1{    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    border: solid 5px violet;
  }

/* #brasa {
    height: 65%;    
    width: 100%;
    position: relative;    
    top: 0;    
    background-color: transparent;
    border: solid 5px blue;
} */

.box_historia_1 {
    color: white;
    border: solid 5px blue;
    width: 100px;
    height: 100%;
    font-size: 40px;
    box-sizing: border-box;
    display: flex;
  }

/* #historia2 {    
    color: white;      
    /* text-shadow: 1px 1px 2px black; */    
    /* border: solid 5px red;    
    height: 100%;
    width: 300px;
    font-size: 20px;    /
    justify-content: space-between;
    right: 0;
    /* margin-right: 30%;
    padding-top: 100px; */
    


#scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #000;
  }